{% extends 'crud/base.html' %}
{% load static %}
{%block script%}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<script src="{% static 'js/main.js' %}"></script>    
{%endblock%}
{% block title %}

{% endblock%}
{% block body %}
<a href = "/"> Назад</a>
{% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
{% endif %}

{% for el in  page_obj %}
{% if el.oid != None %}
<div class = "main_div">
    <form method = "POST" name = "{{el.oid}}" id = "{{el.oid}}">
        {% csrf_token %}
            <input type ="submit" name = "del" value = "Удалить" form = {{el.oid}} >
            <input type = "text"  form = "{{el.oid}}" name = "stor_phys" value = "{{el.stor_phys}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "uniq_id" value = "{{el.uniq_id}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "stor_folder" value = "{{el.stor_folder}}" > </input>
            <input type = "hidden"  form = "{{el.oid}}" name = "oid" value = "{{el.oid}}" > </input>
            
            <input type = "text"  form = "{{el.oid}}" name = "stor_phys" value = "{{el.stor_phys}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "stor_reason" value = "{{el.stor_reason}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "stor_date" value = "{{el.stor_date}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "stor_dept" value = "{{el.stor_dept}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "stor_person" value = "{{el.stor_person}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "stor_desc" value = "{{el.stor_desc}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "stor_fmts" value = "{{el.stor_fmts}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "stor_units" value = "{{el.stor_units}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_name" value = "{{el.obj_name}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "type_of_work" value = "{{el.type_of_work}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_synopsis" value = "{{el.obj_synopsis}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_type" value = "{{el.obj_type}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_sub_type" value = "{{el.obj_sub_type}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_assoc_inv_nums" value = "{{el.obj_assoc_inv_nums}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_date" value = "{{el.obj_date}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_year" value = "{{el.obj_year}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_authors" value = "{{el.obj_authors}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_orgs" value = "{{el.obj_orgs}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_restrict" value = "{{el.obj_restrict}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_rights" value = "{{el.obj_rights}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_rdoc_name" value = "{{el.obj_rdoc_name}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_rdoc_num" value = "{{el.obj_rdoc_num}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_terms" value = "{{el.obj_terms}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_sources" value = "{{el.obj_sources}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_supl_info" value = "{{el.obj_supl_info}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_main_min" value = "{{el.obj_main_min}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_supl_min" value = "{{el.obj_supl_min}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_group_min" value = "{{el.obj_group_min}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_assoc_geol" value = "{{el.obj_assoc_geol}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "spat_atd_ate" value = "{{el.spat_atd_ate}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "spat_loc" value = "{{el.spat_loc}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "spat_num_grid" value = "{{el.spat_num_grid}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "spat_coords_source" value = "{{el.spat_coords_source}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "spat_toponim" value = "{{el.spat_toponim}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "inf_type" value = "{{el.inf_type}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "inf_media" value = "{{el.inf_media}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "path_others" value = "{{el.path_others}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_main_group" value = "{{el.obj_main_group}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_sub_group" value = "{{el.obj_sub_group}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "path_local" value = "{{el.path_local}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "path_cloud" value = "{{el.path_cloud}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "status" value = "{{el.status}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "timecode" value = "{{el.timecode}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "obj_sub_group_ref" value = "{{el.obj_sub_group_ref}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "path_local_ref" value = "{{el.path_local_ref}}"> </input>
            <input type = "text"  form = "{{el.oid}}" name = "path_cloud_ref" value = "{{el.path_cloud_ref}}"> </input>
                    <br>
            </form>
                <br>
            </div>
                {% endif %}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}

{% endfor %}
{% endblock body %}