{% extends 'crud/base.html' %}
{% load crud_extras %}
{% load static %}

{%block script%}


<link rel="stylesheet" href="{% static 'css/main.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}" />

<script src="{% static 'js/main.js' %}"></script>  
{%endblock%}
{% block title %}
Сброс пароля
{% endblock%}

{% block body %}
<input type="button" class = "btn btn-link" onclick="history.back();" value="Назад"/>
<form  method = "POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type = "submit" name = "register"> Изменить пароль </input>
  </form>
{% endblock %}
